@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}
